:root{
  --maroon: #7A0019;
  --gold: #FFCC33;
  --edge: 10px;
  --spacing: 20px;
}

header h1 {
  font-size: 60px;
  font-weight: bolder;
  text-align: center;
  color: var(--gold);
  background-color: var(--maroon);
}

body{
  font-family: "Courier New";
}

main {
  width: 60%;
  margin: auto;
}

.timer {
  font-size: 20px;
  text-align: center;
  padding: var(--spacing);
}

.quiz_begin {
  text-align: center;
}

.quiz_begin button {
  font-size: 30px;
  color: var(--gold);
  background-color: var(--maroon);
}

article {
  visibility: hidden;
  font-size: 40px;
}

.message {
  padding: var(--spacing);
  font-size: 30px;
  color: var(--maroon);
  text-align: center;
  background-color: var(--gold);
}

#question {
  padding: var(--spacing);
  color: var(--gold);
  background-color: var(--maroon);
}

.answer {
  margin: var(--spacing);
  color: var(--maroon);
  background-color: var(--gold);
  cursor: pointer;
}

footer {
  color: var(--maroon);
  background-color: var(--gold);
  text-align: center;
  padding-left: var(--edge);
  padding-right: var(--edge);
}
